* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url('./images/bg-desktop.jpg');
  background-repeat: no-repeat;
  color: #fff;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 64px;
  margin-bottom: 24px;
  background-color: rgba(53, 149, 218, 0.2);
}

.heading {
  color: #fff;
}

.list {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 12px;
  padding: 0;
  margin-top: 4px;
}

.list-item a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 15px;
  transition-property: color;
  transition-duration: 0.5s;
}

.list-item a:hover {
  color: #007aff;
  transition-timing-function: ease-in-out;
}

.nav {
  display: flex;
  gap: 16px;
}

#search-form input {
  padding: 4px;
  border-radius: 4px;
}

#search-form button {
  padding: 4px;
  transition-property: color;
}

#search-form button:active {
  color: #fff;
  background-color: #007aff;
}

#home-page {
  display: grid;
  grid-template-columns: 360px 360px 360px;
  gap: 24px;
  justify-content: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.card-img {
  width: 360px;
  height: 420px;
}

.likes {
  color: white;
}

.likes:active {
  color: red;
}

.socials {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
}

.count-likes {
  display: flex;
  justify-content: end;
}
